/**
 * @section Main Nav
 * Styling for the main navigation area
 */

.nav-header {
/*	background-color: var(--color-primary);*/
	border-bottom: 2px solid var(--color-secondary);
}

/**
 * The navigation wrapper
 */
.nav-wrap {
	padding: 1em 0;
	text-align: center;
/*	display: flex;
	justify-content: space-between;
	align-items: center;*/
}


/**
 * The logo
 */
.logo {
	color: var(--color-secondary);
	display: inline-block;
	font-family: var(--font-secondary);
	font-size: 1.0625em;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 1em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	transition: color 200ms ease-in;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

@media (min-width: 30em) {
	.logo {
		gap: 1.5em;
	}
}

@media (min-width: 42em) {
	.logo {
		gap: 2em;
	}
}

.logo-write-in {
	font-style: italic;
	transform: rotate(-12deg);
}

.logo-name {
	font-size: 1.3125em;
}

.logo:hover {
	color: var(--color-secondary-dark);
}

/**
 * The navigation menu
 */
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1em;
	flex-wrap: wrap;
	list-style-type: "";
	margin-left: 0;
	margin-bottom: 0;
}

.nav .btn {
	margin-bottom: 0;
}

.nav a:not(.btn) {
	color: var(--color-gray-dark);
	text-decoration: none;
}

.nav a:not(.btn):hover,
.nav [aria-current="page"] {
	border-bottom: 0.125em solid var(--color-secondary);
	color: var(--color-black);
}