			</div>
		</main>

		<div class="border-top-secondary">
			<footer class="footer container container-large padding-top-large padding-bottom-large">
				<ul class="list-inline list-inline-spaced">
					<li>{{ partial "contact.html" . }}</li>
					<li><span class="text-small text-muted">555 West Street, Wrentham, MA 02093</span></li>
				</ul>
			</footer>
		</div>

		{{- if isset .Params "externaljs" -}}
			{{- range $js := .Params.externaljs -}}
			<script src="{{ $js }}"></script>
			{{- end -}}
		{{- end -}}

		<script>
			{{- if .HasShortcode "wc-toc" -}}{{ readFile "/static/js/wc-simple-toc.js" | safeJS }}{{- end -}}
			{{ readFile "/static/js/swInit.js" | safeJS }}
			{{- if isset .Params "js" -}}
				{{- range $js := .Params.js -}}
					{{- if fileExists (printf "/static/js/%s.js" $js) -}}
						{{ readFile (printf "/static/js/%s.js" $js) | safeJS }}
					{{- end -}}
				{{- end -}}
			{{- end -}}
			{{ readFile "/static/js/swInit.js" | safeJS }}
		</script>
	</body>
</html>